html {
	scroll-behavior: smooth;
  }
body {
    background-color: #06141b;
    margin: 0;
    height: 100vh;
    color: white;
}
section {
    padding: 100px 20px;
    height: 100vh;
}

.navbar {
    background-color: #11212D;
    position: fixed;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar a {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;
    color: #CCD0CF;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
    color: #9BA8AB;
}

.navbar li {
    list-style: none;
    float: left;
}

.head {
    font-size: 60px;
}

.head h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}

.head .im {
    margin-bottom: 0px;
}

.head .ken {
    margin-top: 0px;
}

.about {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 350px;
    text-align: center;
    padding-top: 20px;
    list-style-type: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.aboutme {
    font-size: 50px;
}

.list1 {
    font-size: 30px;
}

.likes {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 350px;
    text-align: center;
    padding-top: 20px;
    list-style-type: none;
    position: absolute;
    top: 500px;
}

.mylikes {
    font-size: 50px;
}

.list2 {
    font-size: 30px;
}

hr {
    position: absolute;
    border: 1px solid;
    margin: 90px auto;
    width: 100%;
}

.main h1 {
    font-family: 'Poppins', serif;
    font-size: 160px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.profile {
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    clear: both; 
}
.left-side {
    background-color: #2c3e50; 
    padding: 20px; 
    color: white; 
    width: 50%; 	
    float: left; 
    box-sizing: border-box; 
	height: 60%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.right-side {
    background-color: #ecf0f1; 
    padding: 20px; 
    color: #2c3e50;
    width: 50%; 
    float: left; 
    box-sizing: border-box;
	height: 60%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}
.right-side h2, .left-side h2{
	margin-top: 0px;
	font-size: 40px;
}
.right-side h3, .left-side h3, .hobbies h3{
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 25px;
}
.right-side p, .left-side p, .hobbies p{
	font-size: 15px;
}
#profile h1, #about h1, #contacts h1 {
	text-align: center;
	font-family: 'Poppins', serif;
	font-size: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.abt {
	display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
    width: 100%;
    padding: 20px; 
    box-sizing: border-box; 
	background-color:#4A5C6A ;
	border-radius: 10px;
}
.hobbies {
	flex: 40%; 
    padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 165px;
    box-sizing: border-box; 
	margin-right: 20%;
	background-color: #11212D;
	border-radius: 7px ;
}
.pics {
	flex:40%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;

}
.image {
    width: 48%; 
    height: 350px; 
	object-fit: cover;
	box-sizing: border-box;
	border: 10px solid#11212D  ;
	border-radius: 7px ;
}
.contacts {
	display: flex;
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box; 
	background-color:#11212D ;
	border-radius: 10px;
}
}
.contactme{
	padding:0px;
    box-sizing: border-box; 
	background-color: #4A5C6A;
	border-radius: 7px ;
	font-size:120px;
}

.contactme a {
	padding-right:50px;
    color: white;
    text-decoration: solid;
	
}
.contactme p {
	font-size:30px;
	margin-right:0px;
}
.img {
	margin-left:0px;
}




